# ========================================
# Smart Irigasi - Environment Variables
# ========================================
# Copy file ini menjadi .env dan sesuaikan nilainya
# cp .env.example .env

# ── JWT ──
JWT_SECRET=smart-irigasi-rahasia-123
JWT_EXPIRES=7d

# ── MQTT (HiveMQ Cloud) ──
MQTT_HOST=cf4a7a1d069a4006a890870dea8d1a3d.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=irigasi-user
MQTT_PASSWORD=Irigasi-pass-123

# ── VAPID Keys (Web Push Notification) ──
VAPID_PUBLIC_KEY=BIlKGfJBxo5sS0OOHj5I3KopGjJaBQ_P4GA2l4wb6oGVCeEamXBFlr9Qj-cQuOKaMGgf6v-1sPxHIp4OybZ20jY
VAPID_PRIVATE_KEY=R44zL3yO_vwkh98H2_iTixkyULy87jTMbqsNP59scSM
VAPID_EMAIL=mailto:eljaadrian4@gmail.com
